.form-box{
    border: 1px solid #d9dadd;
}

.rigth-box{
    width: 350px;
}

.instagram-logo{
    width: 175px;
}

.form-input{
    border: 1px solid #d9dadd;
    background-color: #fafafa;
    color: #838383;
}

.form-btn{
    background-color: #48b6ee;
}

.input-text{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line{
    height: 1px;
    width: 128px;
    background-color: #d9dadd;
    transform: translateX(1px) translateY(20px);
}

.fb-logo{
    width: 17px;
    height: 17px;
}

.login-fb{
   color: #4267b3;
   font-size: 14px;
}

.forgot-pass{
    font-size: 11px;
    color: #4267b3 !important;
}

.box-text{
    font-size: 14px;
}

.app-logo{
    width: 141px;
    height: 44px;
}

.footer-text{
    font-size: 12px;
    color: #838383 !important;
}

.fondoTelefono {
    height: 616px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones.png?__makehaste_cache_breaker=HOgRclNOosk);
}

.sliderImagenes {
    height: 550px;
}

.divPeye {
    width: 241px;
    transform: translate(192px, 26px);
}